.journal .details .progress,
.list.issues p.percent {
    display: none;
}

.journal .details p.percent,
.splitcontentleft ul li p.percent,
#roadmap  ul li p.percent {
    font-size: 100%;
    display: inline;
}

.splitcontentleft ul li .progress,
#roadmap  ul li .progress {
    float: none;
    display: inline-table;
}
