<% if custom_field.new_record? || custom_field.is_computed? %>
  <p><%= form.check_box :is_computed,
                        data: { enables: '#custom_field_formula, #available_cfs' },
                        disabled: !custom_field.new_record? %></p>
  <p><%= form.text_area :formula, rows: 7 %></p>
  <p>
    <%= label_tag l(:label_available_custom_fields) %>
    <%= render_computed_custom_fields_select custom_field %>
  </p>

  <script type="text/javascript">
      (function() {
          $("#available_cfs").dblclick(function() {
              var formula = $("#custom_field_formula");
              $(this).find("option:selected").each(function() {
                  formula.val(formula.val() + 'cfs[' + $(this).val() + ']');
              });
          });
      }())
  </script>
<% end %>
